<div id="sidebar" style="float: left;"></div>
<div id="content" style="float: left;"></div>

<script type="text/javascript">
  $(function() {
    var entries = <%= @entries.to_json.html_safe %>;

    window.Journal.initialize(
      $("#sidebar"),
      $("#content"),
      entries
    );
  });
</script>