<a href="#entries/new">New Entry</a>
<ul>
  <% entries.each(function (entry) { %>
    <li class="entry">
      <a href="#/entries/<%= entry.escape("id") %>">
        <%= entry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>