<div id="newEntry">
  <a href="#entries/new">Add Post</a>
</div>
<ul class="nav">
	<li id="archive">Archive</li>
	<hr>
  <% entries.each(function (entry) { %>
    <li class="entry">
      <a href="#/entries/<%= entry.escape("id") %>">
        <%= entry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>