<ul>
<%  console.log(entries) %>
  <% entries.each(function (entry) { %>
    <li class="entry">
      <a href="#/entries/<%= entry.escape("id") %>">
        <%= entry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>