<div>
  <h1>New Entry</h1>
  <label for="entry_title">
    Title
    <input name="entry[title]" id="entry_title">
  </label>

  <label for="entry_body">
    Body
    <textarea name="entry[body]" id="entry_body"></textarea>
  </label>

  <button class="submit">Submit!</button>
</div>