<div>
  <h2>New Entry</h2>
  <label for="entry_title">
    Title
  </label>
  <input name="entry[title]" id="entry_title">

  <label for="entry_body">
    Body
  </label>
  <textarea rows="10" class="span6" name="entry[body]" id="entry_body"></textarea>

</div>
<div>
  <button class="submit">Submit!</button>
</div>